<!doctype html>
<html>
    <head>
        <title>
            Home
        </title>
              <link type="text/css" href="../static/home.css" rel="stylesheet">
              <link type="text/css" href="{{url_for('static', filename='home.css')}}" rel="stylesheet">
    </head>
    <body>
    
        <h1><img src="{{url_for('static', filename='recovery ribbon.jpg')}}" align="center" width="250px";height=290px;>
IT IS NEVER TOO LATE!! </h1>

    {% include 'navbar.html' %}

                
        <br>
        <br>
      <p>  This first step into your recovery journey is the 
    most difficult to take because you are not sure 
    where to start. It is never too late hae been 
    created to help you take that first step into the
     rest of yourlife. This site will help you create a 
     personalized recovery plan.There are members of the LGBTQI+ community in the Boston area that has turned
to some form of substance to cope with oppression of this so called "acceptancy."</p>
<img src="{{url_for('static', filename='rainbow.jpg')}}"width= "1500px";height= "244px">
<br>
<br>
</div>
</div>
<p>Recovery is a process. It take time to regain, 
reclaim, and regroup all that was lost while we tried 
on our own to cope by active using.</p>
</a></body></html>
    </body>
</html>
