<html><!DOCTYPE html>             

<head >
    <link type="text/css" href="../static/programs.css" rel="stylesheet">
    <link type="text/css" href="{{url_for('static', filename='programs.css')}}" rel="stylesheet">


<title>programs</title>
</head> 
<body>
 <h1><img src="{{url_for('static', filename='recovery_lgbt(1).jpg')}}"width="200px"height="150px" class="img"></a>Inpatient/outpatient proraming</h1>
<br>

    {% include 'navbar.html' %}


<p>This is a journey that should not be faced alone. Here are some amazing organizations that can help you reach the goals you are searching for. Remember you are never alone! Help is just a click away. Click on any image to find the support you are looking for.</p>


        <div class="grid-container">
                <a href="https://www.psychologytoday.com/us/treatment-rehab/tools-for-success-counseling-east-longmeadow-ma/1059864">
    <img src="{{url_for('static', filename='psychology today.png')}}"width="200px"height="150px" class="img"></a>
     <a href="https://www.drugrehabus.org/rehabs/treatment/lgbtqa/united-states/massachusetts/">
    <img src="{{url_for('static', filename='find-drug-rehab-near-me-logo.png')}}" width="200px"height="150px" class="img"></a>   
<a href="https://www.addictionresource.net/best-drug-rehab-centers/lgbt/massachusetts/">
    <img src="{{url_for('static', filename='full-logo-light.png')}}"width="300px"height="200px" class="img"> </a>
    
    <a href="https://www.greaterbostonaddictioncenters.com/greater-boston-rehab-programs/lgbtq-friendly-rehab/">
    <img src="{{url_for('static', filename='Final-GBAC-Logos-white-250.png')}}"width="300px"height="200px" class="img"></a>
 

 <img src="{{url_for('static', filename='hands.png')}}"width="300px"height="200px" class="img">           
</body>
</html>
  </div>
