<!doctype html>
<html>
    <head>
        <title>
            Sign up
        </title>
         <link type="text/css" href="{{url_for('static', filename='signup.css')}}" rel="stylesheet">
              
    </head>
    <body>

        <!-- Write the title of the page in a large heading font -->
        <h1>
            Sign up
        </h1>
        <!-- Show the navbar -->
        <div>
            {% include "navbar.html" %}
        </div>

        {% if session.username %}

            <p> You are already logged in!</p>
            <a href="{{url_for('profile')}}">Go to Profile</a>

        {% else %}
            <form action="/signup" method="POST">

                <p>
                    Name:
                </p>
                <p>
                    <input type="text" name="name" />
                </p>

                <p>
                    Username:
                </p>
                <p>
                    <input type="text" name="username" />
                </p>

                <p>
                    Password:
                </p>
                <p>
                    <input type="password" name="password" />
                </p>
                <p>
                    <input type="submit" value="submit" />
                </p>

            </form>

            Already have an account?
            Click here to <a href="{{ url_for('login') }}">login</a> instead.

        {% endif %}

         <img src="{{url_for('static', filename='SafeSpace-Graphic-1(1).png')}} "width="300px"height="200px" class="img">
    </body>
</html>
